.page-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  overflow: hidden;
}

.profile-header {
  position: sticky;
  top: 100px;
  z-index: 1;
  margin-left: 100px;
  margin-right: 20px;
  border: 1px solid #ddd;
}

.scroll-container {
  position: sticky;
  overflow-y: auto;
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 100px;
  border-radius: 20px;
}

.profile-container {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  gap: 20px;
  margin-top: 20px;

  @media (max-width: 868px) {
      grid-template-columns: 1fr;
  }
}

.tasks-wrapper {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 25px;
  padding: 30px 20px 30px 30px;
  height: 280px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
      min-height: 280px;
  }
}

.calendar-wrapper {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 25px;
  padding: 30px;
  border: 1px solid #ddd;
  height: 280px;

  @media (max-width: 768px) {
      height: auto;
      min-height: 600px;
      margin-bottom: 100px;
  }
}

.tasks-header {
  display: flex;
  justify-content: space-between;

  h2 {
      margin: 0;
      font-size: 21px;
      color: #2d3436;
  }
}