services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data  # Сохраняем данные Redis на хосте
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf  # Подключаем конфигурацию
    command: redis-server /usr/local/etc/redis/redis.conf  # Указываем конфигурационный файл
    restart: always
  backend:
    build:
      context: ../backend
      dockerfile: backend.Dockerfile
    ports:
      - "4132:4132"
    volumes:
      - ../backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
  frontend:
    build:
      context: ../frontend
      dockerfile: frontend.Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ../frontend:/app
      - /app/node_modules 
    environment:
      - NODE_ENV=development
  admin:
    build:
      context: ../admin
      dockerfile: admin.Dockerfile
    ports:
      - "4000:80"
    volumes:
      - ../admin:/app
      - /app/node_modules
volumes:
  redis_data: