name: CI/CD Pipeline

on:
  push:
    tags:
      - '*'

jobs:
  check_node_version:
    runs-on: ubuntu-latest
    container: node:20.18.0-alpine
    steps:
      - name: Check Node.js version
        run: |
          echo "Running on Node.js version:"
          node -v

  lint_frontend:
    needs: check_node_version
    runs-on: ubuntu-latest
    container: node:20.18.0-alpine
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        working-directory: ./frontend
        run: npm install --no-progress
      - name: Run lint
        working-directory: ./frontend
        run: npm run lint

  lint_admin:
    needs: check_node_version
    runs-on: ubuntu-latest
    container: node:20.18.0-alpine
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        working-directory: ./admin
        run: npm install --no-progress
      - name: Run lint
        working-directory: ./admin
        run: npm run lint

  lint_backend:
    needs: check_node_version
    runs-on: ubuntu-latest
    container: node:20.18.0-alpine
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        working-directory: ./backend
        run: npm install --no-progress
      - name: Run lint
        working-directory: ./backend
        run: npm run lint

  deploy_backend:
    needs: [lint_backend]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build and push backend image
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/backend:$TAG -f backend/backend.Dockerfile backend/
          docker inspect ${{ secrets.DOCKER_USERNAME }}/backend:$TAG --format='{{.Size}}'
          docker push ${{ secrets.DOCKER_USERNAME }}/backend:$TAG

  deploy_frontend:
    needs: [lint_frontend]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build and push frontend image
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend:$TAG -f frontend/frontend.Dockerfile frontend/
          docker inspect ${{ secrets.DOCKER_USERNAME }}/frontend:$TAG --format='{{.Size}}'
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend:$TAG

  deploy_admin:
    needs: [lint_admin]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build and push admin image
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/admin:$TAG -f admin/admin.Dockerfile admin/
          docker push ${{ secrets.DOCKER_USERNAME }}/admin:$TAG

  deploy_redis:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build and push redis image
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/redis:$TAG -f redis/redis.Dockerfile redis/
          docker push ${{ secrets.DOCKER_USERNAME }}/redis:$TAG

  # deploy_telegram_bot:
  #   runs-on: ubuntu-latest
  #   if: startsWith(github.ref, 'refs/tags/')
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Login to Docker Hub
  #       run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
  #     - name: Build and push Telegram bot image
  #       run: |
  #         TAG=${GITHUB_REF#refs/tags/}
  #         docker build -t ${{ secrets.DOCKER_USERNAME }}/telegram-bot:$TAG -f telegram-bot/Dockerfile telegram-bot/
  #         docker inspect ${{ secrets.DOCKER_USERNAME }}/telegram-bot:$TAG --format='{{.Size}}'
  #         docker push ${{ secrets.DOCKER_USERNAME }}/telegram-bot:$TAG